
.BaseLayer {
	z-index:10;
	height:100%;
	width:100%;
	box-shadow:	2px 0px 5px 0px rgba(50, 50, 50, 0.75);

}
.Layer {
	height:100%;
	width:3rem;
	box-shadow:	2px 0px 5px 0px rgba(50, 50, 50, 0.75);
	transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow-y:auto;
}
.Open {
	width:100vw !important; 
	display:flex;
}
.Closed {
	width:3rem;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
	color:rgba(255,255,255,0.8);
}

.LayerMobile {
	height:2rem;
	width:100%;
	box-shadow:	2px 0px 5px 0px rgba(50, 50, 50, 0.75);
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow-y:auto;
}
.OpenMobile {
	height:100vh !important; 
	width:100%;
}
.ClosedMobile {
	cursor:pointer;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	color:rgba(255,255,255,0.8);
}


.contentRoot {
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100%;
	color:white;
}

.contentRootCentered {
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
	color:white;
}
.cvButton {
	display:flex;
	align-items:center;
	justify-content:center;
	height:4rem;
	color: green;
	font-weight:800;
	font-size:2rem;
	background-color:rgba(255,255,255,0.8);
	padding:1rem 2rem;
	border-radius:2rem;
	transition: all 0.2s linear;
	cursor:pointer;
}
.cvButton i {
	padding: 0 0 0 1rem;
}
.emailButton {
	display:flex;
	align-items:center;
	justify-content:center;
	height:4rem;
	color: blue;
	font-weight:800;
	font-size:2rem;
	background-color:rgba(255,255,255,0.8);
	padding:1rem 2rem;
	border-radius:2rem;
	transition: all 0.2s linear;
	cursor:pointer;
}
.emailButton:hover {
	background-color:rgba(255,255,255,1);
}

.emailButtonMobile {
	display:flex;
	align-items:center;
	justify-content:center;
	height:2rem;
	color: blue;
	font-weight:800;
	font-size:1rem;
	background-color:rgba(255,255,255,0.8);
	padding:1rem 2rem;
	border-radius:2rem;
	transition: all 0.2s linear;
	cursor:pointer;
}
.emailButtonMobile:hover {
	background-color:rgba(255,255,255,1);
}

.cvButton:hover {
	background-color:rgba(255,255,255,1);
}


.skillsContainer {

}

.divider {
	width:100%;
	background-color:white;
	height:0.125rem;
	border-radius:0.06125rem;
}

.closeIconWrapper {
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	top:1rem;
	right:1rem;
}

.closeIconWrapper i {
	font-size:2rem;
	font-weight:200;
	cursor:pointer;
}


.chevron {
	transition: all 0.2s ease-in-out;
}